main {
  position: absolute;
  min-height: 900px;
  min-width: 1500px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/login/bg.svg) no-repeat right bottom; }
  main .container {
    position: relative;
    min-height: 900px;
    height: 100%; }
    main .container .row {
      min-height: 900px;
      height: 100%; }
      main .container .row .login {
        width: 50%; }
        main .container .row .login form {
          width: 640px;
          text-align: center;
          padding-top: 120px; }
          main .container .row .login form .logo {
            margin-bottom: 50px; }
          main .container .row .login form input {
            text-align: left;
            height: 50px;
            line-height: 50px;
            width: 370px;
            padding: 0 30px;
            margin-bottom: 26px;
            background: #FCFBFE;
            border: 1px solid #E5E6EF;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px; }
          main .container .row .login form button.submit {
            height: 80px;
            width: 390px;
            padding: 10px;
            border-radius: 100px;
            background: #FCFBFE;
            border: none;
            box-shadow: inset 0 0 5px 0 #E5E6EF;
            margin-bottom: 25px; }
            main .container .row .login form button.submit span {
              font-weight: bold;
              font-size: 21px;
              display: inline-block;
              color: #FFF;
              text-align: center;
              height: 60px;
              line-height: 60px;
              width: 370px;
              border-radius: 100px;
              background: linear-gradient(180deg, #4BA0EB 0%, #216EFB 100%); }
          main .container .row .login form .forget_password {
            font-size: 15px;
            color: #216EFB;
            margin-bottom: 67px; }
          main .container .row .login form .is_parent {
            font-size: 15px;
            color: #3E4559;
            text-align: center; }
            main .container .row .login form .is_parent span {
              margin-bottom: 21px;
              display: inline-block; }
            main .container .row .login form .is_parent a {
              display: block;
              margin: 0 auto 47px;
              line-height: 50px;
              font-size: 15px;
              color: #216EFB;
              height: 50px;
              width: 371px;
              border: 1px solid #E5E6EF;
              border-radius: 100px;
              text-decoration: none; }
          main .container .row .login form .invite_parent {
            height: 97px;
            width: 298px;
            margin: 0 auto 42px; }
            main .container .row .login form .invite_parent:after {
              content: '';
              display: block;
              height: 0;
              clear: both;
              visibility: hidden; }
            main .container .row .login form .invite_parent strong {
              line-height: 97px;
              color: #F7B500;
              font-size: 21px;
              font-weight: bold;
              float: left; }
            main .container .row .login form .invite_parent button {
              float: right;
              height: 97px;
              width: 98px;
              border: 1px solid #E5E6EF;
              border-radius: 100px;
              background: #FFFFFF url(../images/icons/family-yellow.svg) no-repeat center center;
              position: relative;
              text-align: center;
              box-shadow: 0 30px 25px -27px rgba(53, 79, 120, 0.23);
              margin-right: 36px; }
              main .container .row .login form .invite_parent button em {
                position: absolute;
                top: 50%;
                right: -40px;
                margin-top: -27px;
                display: block;
                height: 53px;
                width: 53px;
                -webkit-border-radius: 53px;
                -moz-border-radius: 53px;
                border-radius: 53px;
                background: #F7B500 url(../images/icons/plus.svg) no-repeat center center; }
          main .container .row .login form .copy_right {
            color: #D1CFD4;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-align: center; }
      main .container .row .child {
        display: block;
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0; }
        main .container .row .child * {
          position: absolute;
          margin-bottom: 0; }
        main .container .row .child .child-01 {
          top: 50%;
          left: 0;
          margin-top: -190px;
          width: 196px;
          height: 379px;
          background: url(../images/login/child01.svg) no-repeat; }
        main .container .row .child .child-02 {
          top: 30px;
          right: 45%;
          width: 240px;
          height: 346px;
          background: url(../images/login/child02.svg) no-repeat; }
        main .container .row .child .child-03 {
          top: 80px;
          right: 5px;
          width: 178px;
          height: 390px;
          background: url(../images/login/child03.svg) no-repeat; }
        main .container .row .child .child-04 {
          top: 45%;
          left: 50%;
          width: 179px;
          height: 386px;
          background: url(../images/login/child04.svg) no-repeat; }
        main .container .row .child .child-05 {
          bottom: 0;
          left: 38%;
          margin-left: -110px;
          width: 213px;
          height: 316px;
          background: url(../images/login/child05.svg) no-repeat; }

/*# sourceMappingURL=login.css.map */
