@import "colors";
@import "mixin";

/* Header */

header {
  border-bottom: 1px solid #E5E6EF;
  .logo {
    padding: 32px 55px;

    img {
      width: 218px;
      height: 32px;
    }
  }

  form {
    label {
      position: relative;
      max-width: 569px;
      width: 100%;
      margin-bottom: 0;
      input {
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        border: 1px solid #E5E6EF;
        border-radius: 100px;
        background-color: #FCFBFE;
        font-size: 15px;
        color: #3E4559;
        line-height: 50px;
        font-weight: 500;
        padding: 0 50px 0 30px;
      }

      button {
        background: url('../images/icons/search.svg') no-repeat center center;
        width: 100px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border-radius: 100px;
        background-color: transparent;
        border: none;
        text-indent: -200px;
        overflow: hidden;
      }
    }
  }

  .language {
    box-sizing: border-box;
    height: 30px;
    width: 68px;
    border: 1px solid #E5E6EF;
    border-radius: 100px;
    position: relative;
    margin: auto;
    p {
      margin-left: 15px;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #96A6AF transparent transparent transparent;
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }
    p,
    .language-option {
      color: #3E4559;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;
      margin-left: 15px;

    }
    .language-option {
      margin-left: 0;
      display: none;
      a {
        padding-left: 15px;
        color: #3E4559;
        display: block;
        text-decoration: none;
        border: 1px solid #FFF;
        background: #E5E6EF;
        border-radius: 100px;
      }
    }
  }

  .divider {
    height: 36px;
    width: 1px;
    background-color: #E5E6EF;
  }

  .user {
    position: relative;
    margin: 0 50px 0 30px;

    a {
      text-decoration: none;
      span {
        display: inline-block;
        margin: 0 52px 0 20px;
        color: #3E4559;
      }

      em {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 9px 0 9px;
        border-color: #96A6AF transparent transparent transparent;
        position: absolute;
        top: 20px;
        right: 0;
      }
    }

  }

  .misc {
    width: 234px;
    display: flex;
    .people {
      height: 22px;
      width: 28px;
      display: block;
      background: url('../images/icons/people.svg') no-repeat;
      margin-right: 31px;
      margin-left: 51px;
    }
    .chat {
      height: 22px;
      width: 22px;
      display: block;
      margin-right: 31px;
      background: url('../images/icons/chat.svg') no-repeat;
    }
    .notify {
      height: 24px;
      width: 20px;
      display: block;
      background: url('../images/icons/bell.svg') no-repeat;
      position: relative;
      span {
        display: block;
        height: 21px;
        width: 21px;
        border-radius: 100px;
        border: 2px solid #FFFFFF;
        background-color: #F14A4A;
        color: #FFFFFF;
        font-size: 11px;
        font-weight: bold;
        line-height: 21px;
        text-align: center;
        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
  }
}