$font-prefix: '..' !default;
@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Sans Arabic Light'),
    local('IBMPlexSansArabic-Light'),
    url('#{$font-prefix}/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Light.woff2') format('woff2'),
    url('#{$font-prefix}/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Light.woff') format('woff');
}

